@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    font-family: "Tilt Neon", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}